<h1>Comment show</h1>

<p>This is a comment on the following post: </p>
<h3><%= @comment.post.title %></h3>
<%= @comment.post.info %>
<hr>
<p>Comment:</p>
<%= @comment.content %>     
<%= link_to "Edit Comment", edit_post_comment_path(@post, @comment) %>
<%= link_to "Delete Comment", post_comment_path(@comment), method: :delete %>