<h2><%= @post.title %></h2>
<br><p><%= @post.info %></p>

<%= link_to "New Comment", new_post_comment_path(@post), id: "new_comment" %>

<h3>Comments</h3>
<div class ="comments">
<% @post.comments.each do |comment| %>

<p> <%= comment.content %> </p></div>

<% end %>

<%= link_to "Load Comments", post_comments_path(@post), class: "load_comments" %>
<div class="comments"></div>



