<!DOCTYPE html>
<html>
  <head>
    <title>NotFake News!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application', 'posts' %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
    
        <% if logged_in? %>
          <%= link_to "Home", root_path, class:"navbar-brand" %>
          <%= link_to "News!", posts_path, class:"navbar-brand", id: "news_posts" %>
          <%= link_to "News Index", posts_path, class:"navbar-brand" %>
          <%= link_to "Log Out", logout_path, method: :post, class:"navbar-brand"  %>
          <%= link_to "Alphabetize News Index", posts_path, class:"navbar-brand", id: "alphabet_posts"%>
          
        <% else %>
          <%= link_to "Home", root_path, class:"navbar-brand" %>
          <%= link_to "Sign Up", new_user_path, class:"navbar-brand" %>
          <%= link_to "Login", signin_path, class:"navbar-brand" %>
          <% end %>
        </div>
        <div class="navbar-collapse collapse">
        
          <ul class="nav navbar-nav">
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class ="container">
    <div id="ajax-posts">
      <%= yield %>
      </div>
    </div>
    <div id="ajax-comments">
    <%yield%>
    </div>
    
  </body>
</html>